/* Generelle stiler som gjelder for alle enheter */
body {
    background-color: rgb(0, 0, 0);
    position: relative; /* Gjør body til relativt posisjonert */
}

/* Stil for å endre størrelsen på bildene */
.andini-forskreket {
    width: 540px;
    height: auto;
}

.andini-med-tørkle-i-honden {
    width: 400px;
    height: auto;
}

.andini-med-kanin {
    width: 390px;
    height: auto;
    position: absolute; /* Setter bildet til absolutt posisjonering */
    top: 0; /* Plasserer bildet i toppen av body */
    right: 0; /* Plasserer bildet i høyre side av body */
    background-image: url("andini med kanin.jpg"); /* Legger til bakgrunnsbilde */
    background-size: cover; /* Sørger for at bakgrunnsbildet dekker hele elementet */
    transform: rotate(-5deg);
}

p {
    color: white;
    text-shadow: 2px 3px blue;
}

.container {
    width: 50%; /* Sett bredden etter behov */
    margin: 0 auto; /* Sentrer containeren horisontalt */
}

img {
    float: left; /* Flyt bildet til venstre */
    margin-right: 20px; /* Legg til en margin til høyre for bildet */
}

.Bor-du-i-Bergen {
    overflow: hidden; /* Hindrer at teksten kummer under bildet */
    text-align: right;
    position: absolute;
    right: 3%;
    top: 113%;
    transform: translate(-50%, -50%);
    transform: rotate(-2deg);
}

.juletrefest {
    text-align: right;
    position: absolute;
    right: 1%;
    top: 123%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.eller-andre-barnearrangement

{

    text-align: right;
    position: absolute;
    right: 3%;
    top: 133%;
    transform: translate(-50%, -50%);
    
    transform: rotate(-1deg);
}

.jeg-har-drevet-med

{

    text-align: right;
    position: absolute;
    right: 3%;
    top: 143%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.Sett-prikken-over-i-en {
   
    text-align: right;
    position: absolute;
    right: 3%;
    top: 153%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}
.fortryllende
{

    text-align: right;
    position: absolute;
    right: 3%;
    top: 163%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.barne-og-familieshow
{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 173%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);}

    .barneunderholdning-siden-1994

    { text-align: right;
        position: absolute;
        right: 3%;
        top: 183%;
        transform: translate(-50%, -50%);
        transform: rotate(-1deg);}

    .vant-min-første-lokale-talentiade
{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 193%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.tryllingen-blitt-en-del-av-meg

{

    text-align: right;
    position: absolute;
    right: 3%;
    top: 203%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.en-livsstil-som-jeg-aldri-kan-slutte-med

{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 213%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.Jeg-føler-meg-privilegert-som-får-jobb

{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 223%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.med-det-jeg-brenner-mest-for-og-håper

{  text-align: right;
    position: absolute;
    right: 3%;
    top: 233%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.og-tror-at-dette-er-noe-som-gjenspeiles
{  text-align: right;
    position: absolute;
    right: 3%;
    top: 243%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.i-kvaliteten-på-det-jeg-leverer

{  text-align: right;
    position: absolute;
    right: 3%;
    top: 253%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.Mitt-mål-er-at-du-som-arrangør-kan-slappe-helt

{  text-align: right;
    position: absolute;
    right: 3%;
    top: 263%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.av-og-se-på-at-selv-de-yngste-gjestene-i-ditt-arrangement
{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 273%;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);
}

.av-og-se-på-at-selv-de-yngste-gjestene-i-ditt-arrangement
{ 
     text-align: right;
    position: absolute;
    right: 3%;
    top: 283;
    transform: translate(-50%, -50%);
    transform: rotate(-1deg);

}

.koser-seg-med-ekte-magi-massevis-av-humor-ballongfigurer

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 293%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}

.levende-kanin-og-viltre-sprell-i-full-visshet-om-at-arrangementet

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 303%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}

.er-en-suksess.-For-meg-er-det-essensielt-at-barna-blir-engasjert

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 313%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}

.og-får-delta-aktivt-under-showet.-Jeg-er-aldri-fornøyd-etter

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 323%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}

.en-opptreden-uten-at-barna-er-både-hese-svette

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 333%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}

.storøyd-og-har-krampe-i-alle-lattermusklene

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 343%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 2px 4px blue;
}

.er-en-suksess.-For-meg-er-det-essensielt-at-barna-blir-engasjer

{ 
    text-align: right;
   position: absolute;
   right: 3%;
   top: 353%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);

}
.og-får-delta-aktivt-under-showet.-Jeg-er-aldri-fornøyd-etter {
    margin-bottom: 50px; /* Legg til en margin-bunn for å øke avstanden mellom teksten og bildet */

    text-align: right;
   position: absolute;
   right: 3%;
   top: 363%;
   transform: translate(-50%, -50%);
   transform: rotate(-1deg);
}

